<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>
				This is the description of my J2EE component
			</description>
    <display-name>
				This is the display name of my J2EE component
			</display-name>
    <servlet-name>RegisterFace</servlet-name>
    <servlet-class>com.servlet.RegisterFace</servlet-class>
  </servlet>
  <servlet>
    <description>
				This is the description of my J2EE component
			</description>
    <display-name>
				This is the display name of my J2EE component
			</display-name>
    <servlet-name>loginface</servlet-name>
    <servlet-class>com.servlet.LoginFace</servlet-class>
  </servlet>
  <servlet>
    <description>
				This is the description of my J2EE component
			</description>
    <display-name>
				This is the display name of my J2EE component
			</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFace</servlet-name>
    <url-pattern>/servlet/RegisterFace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginface</servlet-name>
    <url-pattern>/servlet/LoginFace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/servlet/test</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>facelogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterTeacher</display-name>
    <servlet-name>RegisterTeacher</servlet-name>
    <servlet-class>com.servlet.RegisterTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTeacher</servlet-name>
    <url-pattern>/servlet/RegisterTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginTeacher</display-name>
    <servlet-name>LoginTeacher</servlet-name>
    <servlet-class>com.servlet.LoginTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTeacher</servlet-name>
    <url-pattern>/servlet/LoginTeacher</url-pattern>
  </servlet-mapping>
</web-app>